<p>applicant-view works!</p>
<div class="card-header">
    <h4>Applicant View</h4>
</div>
<div class="card-body">
    <div class="row" *ngFor="let item of applicantArr">
        <div class="col-md-6">
            <label>Name:</label>
            <div class="border p-2">{{item.applicants.name}}</div>

            <label>Email:</label>
            <div class="border p-2">{{item.applicants.email}}</div>

            <label>Address:</label>
            <div class="border p-2">{{item.applicants.address}}</div>

            <label>Gender:</label>
            <div class="border p-2">{{item.applicants.gender}}</div>

            <label>Phone Number:</label>
            <div class="border p-2">{{item.applicants.contact_num}}</div>

            <label>SSC Result:</label>
            <div class="border p-2">{{item.applicants.ssc_result}}</div>

            <label>HSC Result:</label>
            <div class="border p-2">{{item.applicants.hsc_result}}</div>

            <label>CGPA:</label>
            <div class="border p-2">{{item.applicants.ssc_result}}</div>

            <label>Year:</label>
            <div class="border p-2">{{item.applicants.year}}</div>
            </div>

            <div class="col-md-6">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Company</th>
                          <th>Designation</th>
                          <th>From</th>
                          <th>To</th>
                          <th>Expected CTC </th>
                          <th>Current CTC</th>
                      </tr>
                  </thead>
                  <tbody>
                     
                                  <tr>
                                      <td>{{item.company}}</td>
                                      <td>{{item.designation}}</td>
                                      <td>{{item.from_exp}}</td>
                                      <td>{{item.to_exp}}</td>
                                      <td>{{item.applicants.expected_ctc}}</td> 
                                      <td>{{item.applicants.current_ctc}}</td>
                                  </tr>
                              
                  </tbody>
              </table>
              <div>
              </div>
            </div>
      </div>
</div>