<p>applicants works!</p>
<div class="container">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Job Application Form</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="addApp">
            <div class="row mt-4">
                <div class="col-sm-5 pb-3">
                    <label for="exampleAccount">Name</label>
                    <input class="form-control" id="exampleAccount" type="text" formControlName="name">
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleCtrl">Email</label>
                    <input class="form-control" id="exampleCtrl" type="text" formControlName="email">
                </div>
                <div class="col-sm-4 pb-3">
                    <label for="exampleAmount">Contact Number</label>
                    <div class="input-group">
                        <input class="form-control" id="exampleAmount" formControlName="contact_num">
                    </div>
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleFirst">SSC Result</label>
                    <input class="form-control" id="exampleFirst" type="text" formControlName="ssc_result">
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleLast">HSC Result</label>
                    <input class="form-control" id="exampleLast" type="text" formControlName="hsc_result">
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleLast">Graduation</label>
                    <input class="form-control" id="exampleLast" type="text" formControlName="graduation">
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleLast">Master Degree</label>
                    <input class="form-control" id="exampleLast" type="text" formControlName="master_degree">
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleCity">Expected CTC</label>
                    <input class="form-control" id="exampleCity" type="text" formControlName="expected_ctc">
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleCity">Current CTC</label>
                    <input class="form-control" id="exampleCity" type="text" formControlName="current_ctc">
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleSt">Preferred Location</label> <select class="form-control custom-select" id="exampleSt" formControlName="location">
                        <option class="text-white bg-warning">
                            Pick a city
                        </option>
                        <option value="AB">
                            Amdavad
                        </option>
                        <option value="JM">
                            Jamnagar
                        </option>
                        <option value="BD">
                            Vadodara
                        </option>
                        <option value="ST">
                            Surat
                        </option>
                        <option value="MB">
                            Mumbai
                        </option>
                    </select>
                </div>
                <div class="col-sm-3 pb-3">
                    <label for="exampleZip">Notice Period</label>
                    <input class="form-control" id="exampleZip" type="text" formControlName="notice_period">
                </div>
                <div class="col-md-3 pb-3">
                    <label for="exampleAccount">Gender:</label>
                    <div class="btn-group mx-2">
                        <label class="btn btn-secondary">
                            <input id="blue" name="gender" type="radio" formControlName="gender" value="female">
                            Female
                        </label>
                        <label class="btn btn-secondary">
                            <input id="red" name="gender" type="radio" formControlName="gender" value="male">
                            Male
                        </label>
                    </div>
                </div>
                <div class="col-md-3 pb-3">
                    <label for="exampleAccount">Board/Univercity</label>
                    <input class="form-control" id="exampleZip" type="text" formControlName="board_uni">
                </div>
                <div class="col-md-3 pb-3">
                    <label for="exampleAccount">CGPA/Percentage</label>
                    <input class="form-control" id="exampleZip" type="text" formControlName="cgpa">
                </div>
                <div class="col-md-3 pb-3">
                    <label for="exampleAccount">Year</label>
                    <input class="form-control" id="exampleZip" type="text" formControlName="year">
                </div>
                <div class="col-md-3 pb-3">
                    <label for="exampleMessage">Address</label>
                    <textarea class="form-control" id="complexExampleMessage" rows="3" formControlName="address"></textarea>
                </div>
            </div>
       
            <div class="col-mb-6" >
            <form [formGroup]="productForm" >  
  
                
                <table class="table table-bordered" formArrayName="applicantExp">  
                  <tr>  
                    <th colspan="2">Add Work Experience:</th>  
                    <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add More</button></th>  
                  </tr>  
                  <tr *ngFor="let quantity of addExperience().controls; let i=index" [formGroupName]="i">  
                    <td>  
                        Company :  
                        <input type="text" formControlName="company" class="form-control">  
                    </td>  
                    <td>  
                        Designation:  
                        <input type="text" formControlName="designation" class="form-control">  
                    </td> 
                    <td>  
                        From:  
                        <input type="date" formControlName="from" class="form-control">  
                    </td> 
                    <td>  
                        To:  
                        <input type="date" formControlName="to" class="form-control">  
                    </td>  
                    <td>  
                        <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>  
                    </td>  
                  </tr>  
                </table>    
                  
              </form>
              </div>
              <div class="col-mb-6">
                <form [formGroup]="languageForm" >  
                    <label for="languages">Known Languages</label><br>
                    
                         <div class="form-check" *ngFor="let lang of knownLanguages; let i= index">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{lang.value}}" formArrayName="languages" (change)="onChange($event)">
                            <label class="form-check-label" for="inlineCheckbox1">{{lang.name}}:-</label>
                           
                            <div class="form-check form-check-inline" *ngFor="let level of lang.levels;let j =index" >
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{level.value}}" formArrayName="levels" >
                                <label class="form-check-label" for="inlineCheckbox1">{{level.name}}</label>
                            </div>
                            <!-- <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" >
                                <label class="form-check-label" for="inlineCheckbox2">Write</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3">
                                <label class="form-check-label" for="inlineCheckbox3">Speak</label>
                            </div> -->
                        </div>
                    
                        <!--<div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="2" >
                            <label class="form-check-label" for="inlineCheckbox1">Hindi:-</label>
                    
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" >
                                <label class="form-check-label" for="inlineCheckbox1">Read</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" >
                                <label class="form-check-label" for="inlineCheckbox2">Write</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3" >
                                <label class="form-check-label" for="inlineCheckbox3">Speak</label>
                            </div>
                        </div>
                    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" >
                            <label class="form-check-label" for="inlineCheckbox1">Gujarati:-</label>
                    
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" >
                                <label class="form-check-label" for="inlineCheckbox1">Read</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" >
                                <label class="form-check-label" for="inlineCheckbox2">Write</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="3" >
                                <label class="form-check-label" for="inlineCheckbox3">Speak</label>
                            </div>
                        </div> -->
                      
                  </form>
              </div>
                <br>


    <div class="col-mb-6">
        <label for="languages">Technical Experience:</label><br>
        <form [formGroup]="techExp">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="3" formControlName="1">
            <label class="form-check-label" for="inlineCheckbox1">Laravel:-</label>
          </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="inlineRadio1" value="1" formControlName="1">
            <label class="form-check-label" for="inlineRadio1">Beginner</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="inlineRadio2" value="2" formControlName="1">
            <label class="form-check-label" for="inlineRadio2">Mediator</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="inlineRadio3" value="3" formControlName="1">
            <label class="form-check-label" for="inlineRadio3">Expert </label>
        </div><br>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1"  formControlName="2">
            <label class="form-check-label" for="inlineCheckbox1">React:-</label>
          </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="inlineRadio1" value="1" formControlName="2">
            <label class="form-check-label" for="inlineRadio1">Beginner</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio2" value="2" formControlName="2">
            <label class="form-check-label" for="inlineRadio2">Mediator</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio3" value="3" formControlName="2">
            <label class="form-check-label" for="inlineRadio3">Expert</label>
        </div><br>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="2" formControlName="3">
            <label class="form-check-label" for="inlineCheckbox1">Node:-</label>
          </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio1" value="1"  formControlName="3">
            <label class="form-check-label" for="inlineRadio1">Beginner</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio2" value="2"  formControlName="3">
            <label class="form-check-label" for="inlineRadio2">Mediator</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio3" value="3"  formControlName="3">
            <label class="form-check-label" for="inlineRadio3">Expert </label>
        </div>
    </form>
    </div> 
        <div class="card-footer">
            <div class="float-right">
                <input class="btn btn-primary mx-2" type="submit" value="Send" (click)="insertApplicants()">
            </div>
        </div>
    </form>
    </div>
</div><br><br>