<div class="container">
    <h1>Admin Login</h1>
<form  [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
      <span *ngIf="loginForm.hasError('email','required')">Email is required</span>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" required class="form-control" id="exampleInputPassword1" formControlName="password">
      <span  *ngIf="loginForm.hasError('password','required')">Email is required</span>
    </div>
    <button type="submit" class="btn btn-primary"  [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>