<p>edit-employee works!</p>

<form (ngSubmit)="updateData()">
    <label>Name:</label>
    <input type="text" name="name" [(ngModel)]="employee.name" />

    <label>Age:</label>
    <input type="text" name="age" [(ngModel)]="employee.age" />

    <label>Salary:</label>
    <input type="text" name="salary" [(ngModel)]="employee.salary" />

    <button class="btn btn-primary" style="margin-left: 2%">Update</button>
  </form>