<p>applicant-list works!</p>
<table class="table table-boardered">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Contact_num</th>
        <th>SSC Result</th>
        <th>HSC Result</th>
        <th>Graduation</th>
        <th>Master Degree</th>
        <th>Board/Univercity</th>
        <th>Year</th>
        <th>CGPA</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataArr">
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.contact_num}}</td>
            <td>{{data.ssc_result}}</td>
            <td>{{data.hsc_result}}</td>
            <td>{{data.graduation}}</td>
            <td>{{data.master_degree}}</td>
            <td>{{data.board_uni}}</td>
            <td>{{data.year}}</td>
            <td>{{data.cgpa}}</td>
            <td>
                <button class="btn btn-primary mx-2" (click)="viewApplications(data.id)">View</button>
                <button class="btn btn-danger" (click)="deleteApplicantions(data.id)" style="margin-top: -4rem;
                margin-left: 4.5rem">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
