<p>dropdown-demo works!</p>
<select (change)="onChangeProducts($event)">
    <option selected >---Select Product---</option>
    <option *ngFor="let item of products;" value="{{item.id}}">{{item.name}}</option>
</select>

<!-- <select *ngIf="isProductSelect">
    <option selected>---Select Products of product---</option>
    <option *ngFor="let items of productsOfProduct" value="{{items.products.id}}">{{items.name}}</option>
</select> -->



<select>
    <option selected>---Select Brand---</option>
    <option>Dell 123</option>
    <option>Dell XYZ</option>
    <option>Dell 890</option>
</select>