<p>employee works!</p>

<div class="container">
  <form (ngSubmit)="insertData()">
    <label>Name:</label>
    <input type="text" name="name" [(ngModel)]="employee.name" />

    <label>Age:</label>
    <input type="text" name="age" [(ngModel)]="employee.age" />

    <label>Salary:</label>
    <input type="text" name="salary" [(ngModel)]="employee.salary" />

    <button class="btn btn-primary" style="margin-left: 2%">Insert</button>
  </form>
  <br /><br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of dataArr">
        <th scope="row">{{ obj.id }}</th>
        <td>{{ obj.name }}</td>
        <td>{{ obj.age }}</td>
        <td>{{ obj.salary }}</td>
        <td><button class="btn btn-danger" (click)="deleteEmployee(obj.id)">Delete</button>
        <button class="btn btn-success mx-2" routerLink="edit/{{obj.id}}">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
